/* page-index
1- body elements
2- page elements
3- header
4-main
 */



/* body elements */
h1{
   
    color: rgb(0, 0, 0);
    top: 28rem;
    z-index: 6;
    opacity: 90%;
}




a.nav-menu:active{
    color: antiquewhite;
}
     



/* header */

.site-wrapper {
 max-width: 120rem;
 margin: 0 auto;
}

.site-header {
 
 padding: 0 1rem;
 display: flex;
 align-items: center;
 justify-content: space-between;
 position: relative;
 top: 0;
 z-index: 5;
 
}



a.site-name {
 font-family: 'Kdam Thmor Pro', sans-serif;	font-size: 2rem;
 font-weight: 700;
 text-decoration: none;
 color: #020000;
}



.site-navigation ul {
 list-style: none;
 padding: 0;
 margin: 0;
 text-align: center;
 display: none;
 position: absolute;
 top: 4rem;  
 left: 0;
 right: 0;
 
 background-color: rgb(255, 252, 252);
 
}
.site-navigation li:hover::after{
	width: 6rem;
  height: 1px;
  background-color: rgb(0, 0, 0);

}
 .site-navigation li::after{
	content: "";
	position: absolute;
	width: 0%;
	height: 1px;
	display: block;
	transition: all 0.3s ease;
	bottom: 25%;
}


.site-navigation.toggled ul {
 display: block;
 margin: .5rem;
 
 

}

.site-navigation a {
 display: block;
 padding: 1rem;
 font-family: 'Kdam Thmor Pro', sans-serif;	font-size: 1.5rem;
 text-decoration: none;
 color: #282828;

}

.menu-toggle {
 display: block;
 background-color: transparent;
 border: 0;
 padding: 1rem;
}

.menu-toggle:focus {
 border: 0;
 outline: 1px solid;
 
}
/* // desktop view */


@media (min-width: 50em) {

 .menu-toggle {
     display: none;
     
 }

 .site-navigation {
     flex: 1 1 auto;
     padding: 0 1rem;
 }

 .site-navigation ul,
 .site-navigation.toggled ul {
     display: flex;
     justify-content: flex-end;
     position: relative;
     top: 0;
    
     
 }

 .site-navigation a {
     line-height: 4.5rem; 
     padding: 0 1rem;
 }

}


/* //main */



.image-1{
    
    position: relative;
    
    
}

.button-1{
        position: absolute;
        bottom: 0.5em;
        right:1em;
        background-color:#faf8f8;
        border-radius:1em;
        color:rgb(0, 0, 0);
        opacity: 80%;
        font-family: sans-serif;

        
    
}
.button-1:hover{
    background-color: rgb(239, 164, 164);
}
/* // desktop view */

@media (min-width: 50em){
   .image-1:first-of-type{
      height:40rem ;
   }
   .button-1{
       padding: 1rem;
   }
        

}

   